body {
  display: table;
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: #cccccc;
}

#content {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 15vw;
}

.button {
  height: 0.5em;
  vertical-align: middle;
}

#time {
  vertical-align: middle;
}

#time > span {
  display: inline-block;
  width: 0.7em;
  text-align: center;
}
